{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
{% load user_filters %}
  <main role="main" class="container">
    <div class="row">
      <!-- Левый вспомогательный блок -->
      <div class="col-md-3 mb-3 mt-1">
        <div class="card">
          <div class="card-body">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <div class="h3">
                  Об авторе
                </div>
              </li>
              <li class="list-group-item">
                <div class="h6 text-muted">
                  Полезный короткий текст
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Тело страницы -->
      <div class="col-md-9">
        <div class="card-body">
          <div class="card-text">
            <p>
              Меня зовут Алексей. Увлекаюсь программированием уже давно, настолько давно что не помню когда начал.<br>
              Когда появились первые микроконтроллеры типа PIC и Atmel писал для них програмки, прошивал, отлаживал.<br>
              Вот здесь и появилось ощущение драйва. Просто словами не передать ощущения когда долго мучаешься,<br>
              не получается и в итоге то что задумал - заработало. В-а-а-у!<br>
              Это было на ассемблере а в последствии на си. Работал я тогда регулировщиком РЭАиП и для своей работы<br>
              делал на них разные полезные штучки которые сильно облегчали работу.<br>
              Эти приспособления управлялись с компьютера так что научился еще писать программы под Windows на Си/С++.<br>
              Используя Widows API получались вполне себе нормальные многопоточные приложения с графическим интерфейсом.<br>
              Постепенно выработалась привычка искать ответы на вопросы и решения самому не бегая за советом к коллегам.<br>
              От этого ощущения драйва еще больше усиливается.<br>
              Сейчас моя работа схожа с той но здесь потребовалось освоить еще язык LD (релейная логика) для<br>
              программирования промышленных контроллеров и частотных преобразователей типа Delta.<br>
              Но здесь я как бы достиг определенного уровня и дальнейшее развитие не интересно.<br>
              Наверное потихоньку выгораю.<br>
              Решил вот освоить ITшную профессию чтобы в дальнейшем поменять работу и развиваться дальше.<br>
              Так я оказался на Яндекс практикуме. В целом всё нравится. Надеюсь все получится...<br>
            </p>
            <p>
              Можно посмотреть мои работы <a href="https://github.com/alexsey-sin">здесь</a>
              и <a href="https://github.com/alexey-sin">здесь</a><br>
            </p>
            <p>
              А также мне можно написать <a href="mailto:alexey-sin@yandex.ru">сюда</a>
              или <a href="mailto:al-sin@mail.ru">сюда</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}
